################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPL_Playground/EPL_Playground/idandpwd.py
